@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-0 font-sans leading-6;
  }

  label {
    @apply block text-base font-bold mb-2 text-start;
  }
  svg {
    @apply text-blue-500  rounded-full outline outline-1 outline-offset-[3px] outline-orange-500;
  }
  select,
  input,
  textarea {
    @apply w-full p-2 mb-2 border border-orange-300 rounded-md bg-gray-100 shadow-sm;
  }

  /* Responsive design for larger screens */
  @media (min-width: 768px) {
    .show-search-form:hover .form {
      display: block;
    }
  }
}

@layer components {
  /* .about-div {
    @apply bg-gradient-to-br rounded-lg from-orange-50 to-orange-500 shadow-orange-50 p-[1em]  flex justify-center flex-col gap-[0.75em] backdrop-blur-[12px];
  } */
  .detail-ul {
    @apply list-disc list-inside mb-5;
  }
  .detail-li {
    @apply mt-3;
  }
}

@layer utilities {
  @keyframes moveLeft {
    0% {
      left: -100%;
    }
    100% {
      left: 100%;
    }
  }
  @keyframes moveDown {
    0% {
      top: -100%;
    }
    100% {
      top: 100%;
    }
  }
  @keyframes moveRight {
    0% {
      right: -100%;
    }
    100% {
      right: 100%;
    }
  }
  @keyframes moveUp {
    0% {
      bottom: -100%;
    }
    100% {
      bottom: 100%;
    }
  }
  .animate-moveLeft {
    animation: moveLeft 2s linear infinite 1s;
  }
  .animate-moveDown {
    animation: moveDown 2s linear infinite 2s;
  }
  .animate-moveRight {
    animation: moveRight 2s linear infinite 3s;
  }
  .animate-moveUp {
    animation: moveUp 2s linear infinite 4s;
  }
}
